@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');


body{
    width: 80%;
    margin: auto;
    background-color:#FBF7EE;
    font-family: 'Karla', sans-serif;
}
/* header */
.logo{
    width: 81px;
    height: 32px;
}
header nav,img{
    align-items: center;
}

header{
    display: inline-block;
    width: 100%;
}
header nav,img,ul{
    display: flex;
    justify-content: space-between;
}

header ul li{
    display: inline-block;
    list-style: none;
    color: #13366D;
}
header ul li a{
    text-decoration: none;
    margin: 10px;
}
header div{
    display: flex;
    align-items: center;
}
li a{
    font-weight: bold;
    color: #13366D;
    font-size: 18px;
    font-family: 'Karla', sans-serif;

}
li a:hover{
    text-decoration: underline;
    color: #13366D;

}
header div a,button{
    padding: 10px;
}
div a{
    text-decoration: none;
    color: #13366D;
    font-weight: bold;
    font-size: 18px;
  
}
div button{
    background-color:#0B48A8;
    color: white;
    border-radius: 4px;
    /* border: 3px black;  uselesssss af */
    padding:7px;
}
/* contact */
.text{
    margin: 0 50px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Karla', sans-serif;

}
main h1{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.text li{
    list-style: none;

}

h1{
    padding-top: 10px;
    color: rgb(33,62,78);
    margin-bottom: 50px;
    font-size: 1em;
    text-align: center;
}
.text p,h3{
    color: gray;
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    text-align: center;
}
.fas,.fab{
    color: #0B48A8;
    font-size: 2em;
    margin-bottom: 20px;   
    
} 
.adress{
    position: relative;
    bottom: 20px;
}

input[type=search] {
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    background-color:#FFF3D9;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border: 0px;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
  }
  /*************************footer*******************************************/
  footer{
    padding: 30px 0;
    background-color:#13366D ;
    text-align: center;
    color: white;
    width: 100%;
}
footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
footer img{
    margin-top: 30px;
    width: 50px;
    height: 50px;
}

footer a{
    color: inherit;
    text-decoration: none;
}
li a:hover{
    text-decoration: underline;
    color: lawngreen;
}
